secure-web-dev.code-workspace
docker-compose.yml
.dockerignore
**/node_modules/*
**/dist/*
**/coverage/*
**/build/*
**/out/*
**/.vscode/*
**/.vscode-test/*
**/.history/*
**/.git/*
**/.github/*
**/.gitignore
**/.gitattributes
**/*.log
**/*.lock
**/.eslint*
**/.prettier*